services:
  mongodb:
    image: mongo:8.0
    container_name: pms-mongodb
    ports:
      - "27017:27017"
    volumes:
      -  mongo_data:/data/db
    restart: unless-stopped
  
  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
          - ./server:/app
          - /app/node_modules
    restart: unless-stopped

  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
          - ./client:/app
          - /app/node_modules

    restart: unless-stopped

volumes:
  mongo_data: